.content {
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 0.5rem;

}

.container input,
button {
  transform: translateY(-50%);
  margin-bottom: 2.313rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksList > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}